h1 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

p {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 25px;
}

body {
    background-image: url(./milky-way-1845068_1920.jpg);
    background-size: 1920px;
    background-repeat: inherit;
}