h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

body {
    background-image: url(./milky-way-1845068_1920.jpg);
    background-size: 1920px;
    background-repeat: inherit;
}