.card {
    width: 200px;
    height: 200px;
    margin: 15px 45px;
  }

  .img-container {
    flex-flow: row;
    padding: 25px 0 40px;
    align-content: flex-start;
  }

  .img-thumbnail{
    width: 200px;
    height: 200px;
}
